button{
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    border-radius:100%;
    width:6rem;
    height:6rem;
    font-size: 32px;
}
input{
    background-color: aliceblue;
    color: gray;
    width: 30rem;
    height: 5rem;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px;
}
body{
    margin-top: 1rem;
    text-align: center;
    font-family: Arial;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 2rem;
}